.notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 28px;
    font-weight: bold;
    color: #ff0004;
    background-color: #f9f9f9;
}